/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  display: none !important;
  border: none !important;
}

mat-sidenav-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}